{% extends 'base.html' %}

{% block title %}Create User{% endblock %}
{% block content %}

  <form method="POST" action='.' enctype="multipart/form-data">
    {% csrf_token %}
    <!-- A formwizard needs this form -->
    {{ wizard.management_form }}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button><a href="{% url 'signup' %}">Sign up</a></button>
    <button><a href="{% url 'login' %}">Log In</a></button>
  </form>

{% endblock %}