{% block content %}
    <div class="col-md-6">
        <!-- This needs to get the latest unread message -->
        {% if unreadMessagesCount %}
            <p>Unread: {{unreadMessagesCount}}</p>
            
            {% if Inbox %}
                <div>
                    <p>{{Inbox.first.sender}}</p>
                    <!-- Remove the receiver later -->
                    <p>{{Inbox.first.receiver}}</p>
                </div>
                <div>
                    <div>
                        <p>{{Inbox.first.subject}}</p>
                    </div>
                </div>
                {{Inbox.first.text}}
                {{Inbox.first.time}}
            {% endif %}
        {% else %}
            <p>Unread: 0</p>
            <div>
                <p>There are no senders</p>
            </div>
        {% endif %}  
            
       
    </div>

{% endblock %}