{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <div class="col-xs-3">
        <div class="row">
            <div class="col-md-6 pt-3">
                <!-- h-100 makes the two columns equal size, shadow makes the bottom part -->
                <div class="shadow p-3 bg-white rounded h-100">
                    <div class="container px-0">
                        <div class="row">
                            <div class="col-md-6">
                                -Icon-
                            </div>
                            <div class="col-md-6">
                                {% if request.user.refresh_token != "" %}

                                    <div>
                                        {{latestEvent.0.start.dateTime}}
                                    </div>
                                {% else %}
                                    <div>
                                        Connect with Google
                                    </div>
                                {% endif %}  
                            </div>
                        </div>
                        
                    </div>
                    {% if request.user.refresh_token != "" %}                  
                        <p>
                            {{latestEvent.0.attendees.0.email}}
                        </p>
                    {% else %}
                        <p>Author</p>
                    {% endif %}  
                    
                    <div class="row">
                        <div class="col-md-6">
                            <p>Time</p>
                        </div>
                    
                        <div class="col-md-6">
                            <div>
                                Button
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <div class="shadow p-3 bg-white rounded h-100">
                    <div class="container px-0">
                        <div class="row">
                            <div class="col-md-6">
                                -Icon-
                            </div>
                            <div class="col-md-6">
                                {% if unreadMessagesCount %}
                                    <p>{{unreadMessagesCount}} unread</p>
                                {% else %}
                                    <p>O unread</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if inbox %}
                        <p>{{inbox.first.sender}}</p>
                    {% else %}
                        <p>Nobody</p>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            {% if inbox %}           
                                <p>{{inbox.first.subject}}</p>           
                            {% else %}
                                <p>No mail</p>
                            {% endif %}
                        </div>
                    
                        <div class="col-md-6">
                            <div>
                                Button
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <!-- h-100 makes the two columns equal size, shadow makes the bottom part -->
                <div class="shadow p-3 bg-white rounded h-100">
                    <div class="container px-0">
                        <div class="row">
                            <div class="col-md-6">
                                -Icon-
                            </div>
                            <div class="col-md-6">
                                {% if medications %}
                                    <p>{{medications.first.type}}</p>
                                {% else %}
                                    <p>No selection</p>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                    {% if medications %}
                        <p>{{medications.first.name}} {{medications.first.dosage}}</p>
                    {% else %}
                        <p>No dosage and name</p>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            {% if medications %}
                                <p>{{medications.first.times}}</p>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </div>
                    
                        <div class="col-md-6">
                            <div>
                                Button
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-6 pt-3">
                <!-- h-100 makes the two columns equal size, shadow makes the bottom part -->
                <div class="shadow p-3 bg-white rounded h-100">
                    <div class="container px-0">
                        <div class="row">
                            <div class="col-md-6">
                                -Icon-
                            </div>
                            <div class="col-md-6">
                                Date
                            </div>
                        </div>
                        
                    </div>
                    <p>Author</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Time</p>
                        </div>
                    
                        <div class="col-md-6">
                            <div>
                                Button
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}
