{% block content %}
 
    <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfilelCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileLongTtitle">Edit Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'editProfileForm.html' %}
                </div>
            </div>
        </div>
    </div>
     <!-- Do this after jQuery loaded -->
     <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
     {% if is_post %}
     <script type="text/javascript">
         $(window).on('load', function() {
             $('#editProfile').modal('show');
         });
     </script>
     {% endif %}
{% endblock %} 