{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
  {% if user.is_authenticated and user.is_active %}
    {% include 'editProfileModal.html' %} 
    <div class='row'>  
      {% include 'sidebar.html' %}
    </div> 
  {% else %}
    <p>You are not logged in</p>
    <button><a href="{% url 'login' %}">Log In</a></button>
    <button><a href="{% url 'signup' %}">Sign up</a></button>
    <img src="{% static 'img/company_page.jpg' %}" />
    <form method = "POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{ contactForm.as_p }}
      <input type="submit" name="contactForm" value="Submit">
    </form>
  {% endif %}

{% endblock %}