{% block content %}
  <div class="col-md-3" style="float:left">
    <h1>Hi {{ user.username }}!</h1>
    <img class="avatar" src="{{user.get_profile_pic_url}}" >
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfile">+</button>

    <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="home"  href="{% url 'home' %}" >Dashboard</a>
      </li>
      {% if request.user.refresh_token != "" %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="calendar" href="calendar">Calendar</a>
      </li>
      {% endif %}

      <li class="nav-item dropdown" role="presentation">
        <a class="nav-link dropdown-toggle" id="messages-tab" data-bs-toggle="dropdown" >Messages</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" id="messagesSend" href="messagesSend" >Send</a></li>
          <li><a class="dropdown-item" id="messagesInbox" href="messagesInbox" >Inbox</a></li>
        </ul>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="documents"  href="documents" >Documents</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="medications" href="medications">Medications</a>
      </li>
      {% if request.user.is_staff %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="adminControls" href="adminControls" >Admin</a>
        </li>
      {% endif %}
      {% if request.user.is_staff is not True  and request.user.is_doctor is not True %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="bookAppointment"  href="bookAppointment" >Book Appointment</a>
        </li>
      {% endif %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="logout" href="{% url 'logout' %}" >Log out</a>
      </li>
    </ul>
  </div>

  <div class="col-md-9" style="float:right">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane" id="home" >
        {% include 'dashboard.html' %}
      </div>
      <div class="tab-pane" id="calendar" >
        {% include 'calendar.html' %}
      </div>
      <div class="tab-pane" id="messagesSend" >
        {% include 'messagesSend.html' %}
      </div>
      <div class="tab-pane" id="messagesInbox" >
        {% include 'messagesInbox.html' %}
      </div>
      <div class="tab-pane" id="documents" >
        {% include 'documents.html' %}
      </div>
      <div class="tab-pane" id="medications" >
        {% include 'medications.html' %}
      </div>
      {% if request.user.is_staff is not True and request.user.is_doctor is not True  %}
        <div class="tab-pane" id="bookAppointment" >
          {% include 'bookAppointment.html' %}
        </div>
      {% endif %}
      {% if request.user.is_staff %}
        <div class="tab-pane" id="adminControls" >
          {% include 'adminControls.html' %}
        </div>
      {% endif %}
    </div>
  </div>

  {% if nmenu %} 
  <script type="text/javascript">
    $("a#{{nmenu}}").addClass("active");
    $("div#{{nmenu}}").addClass("active");
  </script>
  {% endif %}

{% endblock %} 