{% block content %}
  <div class="col-md-3" style='float:left'>
    <h1>Hi {{ user.username }}!</h1>
    <h1>Hi {{ user.verified }}!</h1>
    <h1>Hi {{ user.is_doctor}}!</h1>
    <img class="avatar" src="{{user.avatar.url}}" >
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfile">+</button>
        
    <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dashboard</a>
      </li>
      <li class="nav-item dropdown" role="presentation">
        <a class="nav-link dropdown-toggle" id="messages-tab" data-bs-toggle="dropdown" aria-expanded="false">Messages</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" id="messages-send-tab" data-bs-toggle="tab" href="#messagesSend" role="tab" aria-controls="messagesSend" aria-selected="false">Send</a></li>
          <li><a class="dropdown-item" href="/">Another action</a></li>
        </ul>
      </li>

      <li class="nav-item" role="presentation">
        <a class="nav-link" id="documents-tab" data-bs-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="logout" href="{% url 'logout' %}" role="tab" aria-controls="logout" aria-selected="false">Log out</a>
      </li>
    </ul>
  </div>

  <div class="col-md-9"style='float:right'>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Dashboard</div>
      <div class="tab-pane fade" id="messagesSend" role="tabpanel" aria-labelledby="messages-send-tab">Message Send Message</div>
      <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">Documents</div>
    </div>
  </div>

{% endblock %} 
