{% extends 'base.html' %}

{% load i18n %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
  <form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
              {{ form }}
          {% endfor %}
      {% else %}
          {{ wizard.form }}
      {% endif %}
    </table>
    {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "prev step" %}</button>
    {% endif %}
    <button type="submit">Submit</button>
    <button><a href="{% url 'signup' %}">Sign up</a></button>
    <button><a href="{% url 'login' %}">Log In</a></button>
  </form>
{% endblock %}